{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}

    <div class="main-body">

    <p>Welcome to my awesome magical homepage.</p>
    {% for routes in route %}

        <h3>{{ routes.route }}</h3>

        <h3>{{ routes.name }}</h3>

        <p>{{ routes.beskrivning }}</p>

        {% if routes.name == 'api_draw_cards' %}

        <form action="{{ path(routes.name, { number: 5 }) }}" method="{{routes.metod}}">
            <button>Go!</button>
        </form>

        {% else %}

        <form action="{{ path(routes.name) }}" method="{{routes.metod}}">
            <button>Go!</button>
        </form>

        {% endif %}

    {% endfor %}

    </div>
{% endblock %}