<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header"  style="background-image: url({{ asset('img/background.jpg') }}); height: 700px">
            <span class="site-title">My Report Site</span>
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ path('main') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('api') }}">Apis</a></li>
                <li><a href="{{ path('report') }}">report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky</a></li>
                <li><a href="{{ path('card') }}">Cards</a></li>
                <li><a href="{{ path('startGame') }}">Game</a></li>
                <li><a href="{{ path('library') }}">library</a></li>
                <li><a href="{{ path('metrics') }}">metrics</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

        <div class="footer">
            <div>
                <p>
                    Våran report sida för kursen MVC
                </p>
                <p>
                    <a href="https://github.com/dbwebb-se/mvc">
                    Våran report sida för kursen MVC
                    </a>
                </p>
            </div>
            <div class="social">
            </div>
        </div>


    </body>
</html>
